body {
  background: rgb(210, 236, 230);
}
h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;   
}

.navbar {
    background: linear-gradient(to right, rgb(229, 255, 0), rgb(21, 255, 0));
    display: flex;
    align-items: center;
    padding: 5px;
    border: 2px solid #30fc52;
    border-radius: 6px;
}

.navbar img {
    bottom: 20px;
    left: 20px;
    width: 50px;
    height:auto;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.274);
    background-color: white;
}

.navbar h1 {
    font-size: 1.5rem;
    color: #000000;
}

.menu {
    margin-left: auto;
}

.menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
     
    color: #333;
    font-size: 1rem;
}

@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: white;
        padding: 10px 0;
    }

    nav ul li {
        margin: 10px 0;
        background-color: #30fc52;
        text-align: center;
        padding: 5px;
        
    }

    .menu-toggle {
        display: block;
  
        padding-right: 2px;
    }
}

.hisUE {
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    padding-top: 20px;
}
.p1 {
    text-rendering: geometricPrecision;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 16px;
    padding: 20PX;
    letter-spacing: auto;
    line-height: 1.5;
    text-align: justify;
}
.col-img {
    border-radius: 9px;
    flex: auto;
    width: 40%;
    height: 40%;
    max-width: 45%;
    max-height: 45%;
    margin-right: 40px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
}

.mod {
    border-radius: 9px;
    flex: auto;
    width: 40%;
    height: 40%;
    max-width: 45%;
    max-height: 45%;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
}
.cont-his {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.container {
  
    background-color: rgb(255, 255, 255);
    background-size: cover;
    border-radius: 20px;
    text-align: center;
    max-width: 900px;
    width: 90%;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  }

  .todo-historia {
    background: linear-gradient(rgb(255, 230, 0), rgb(51, 165, 23));
    background-size: cover;
    border-radius: 20px;
    text-align: center;
    margin: 20px;
    display:flex;
    justify-content: auto;
    flex-direction: row;
    padding: 20px;
    
  }

  .logo-img {
    border-radius: 50%;
    flex: auto;
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
  }

  .logotipo-img {
    border-radius: 50%;
    flex: auto;
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
  }

  .bandera-img {
    border-radius: 50%;
    flex: auto;
    width: 200px;
    height: 200px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .escudo-contenedor {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-right: 20px;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
  }
  .parrafo-escudo {
    text-align: justify;
  }
  .bandera-contenedor {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
  }
  .parrafo-bandera {
    text-align: justify;
  }
  .logotipo-contenedor {
    background-color: #ffffff;
    border-radius: 20px;
    margin-left: 20px;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
  }
  .parrafo-logotipo {
    text-align: justify;
  }

  .escudo-title {
    list-style: none;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .banderta-title {
    list-style: none;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .logotipo-title {
    list-style: none;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }


  @media (max-width: 768px) {
    .todo-historia {
        flex-direction: column;
        padding: 20px;
        border-radius: 30px;
    }
    .container {
        margin: 0;
        max-width: 100%;
        width:100%;
        box-sizing: border-box;
        padding: 10px;
      }
    }
    @media (max-width: 768px) {
        .escudo-contenedor {
            margin-bottom: 20px;
            margin-right: 0%;
            margin-left: 0%;
            padding: 20px;
        }
        .bandera-contenedor {
            margin-bottom: 20px;
            margin-right: 0%;
            margin-left: 0%;
            padding: 20px;
        }
        .logotipo-contenedor {
            padding: 20px;
            margin-right: 0%;
            margin-left: 0%;
        }
    }

    .title-h {
        background-color: transparent;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
